body {
  background-color: #eee;
  color: #eee;
  font-family: roboto;
  margin: 0;
}

img {
  object-fit: contain;
  max-width: 90%;
}

button {
  background-color: #3882f6;
  color: inherit;
  border-radius: 5px;
  border: none;
  padding: 4px 22px;
  margin: 16px 0;
}

.container {
  padding: 8px 16px;
  margin: 0 auto;

  max-width: 890px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.container.column {
  flex-direction: column;
}

#header,
#hero,
#footer {
  background-color: #1f2937;
}

/* Header -------------------------- */
#header .logo {
  font-size: 24px;
}

#header .links {
  margin: 0;
  padding: 0;
}

#header .links li {
  display: inline;
  font-size: 18px;
  white-space: nowrap;
  margin-left: 16px;
}

#header .links li a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero -------------------------- */
#hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media(max-width: 700px) {
  #hero .container {
    flex-direction: column;
  }
}

#hero .title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#hero .text {
  font-size: 18px;
  color: #e5e7eb;
}

#hero img {
  max-height: 230px;
}

/* Info -------------------------- */
#info {
  padding-top: 32px;
  padding-bottom: 96px;
}

#info .container {
  color: #1f2937;
}

#info .title {
  font-size: 36px;
  font-weight: 900;
}

#info .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 300;
  gap: 64px;
}

#info .card {
  max-width: 150px;
}

#info .card .image-container {
  background-color: #fff;
  border: 1px solid #3882f6;
  border-radius: 15px;
  padding: 5px;
}

#info .card .image-container img {
  /* Without this, parent div is a few pixels too high */
  display: block;
  max-width: 100%;
  /* Prevent image being square and extending through parent padding if parent paddding is too small */
  border-radius: inherit;
}

#info .card .text {
  margin-top: 10px;
  text-align: center;
}

/* Quote -------------------------- */
#quote {
  padding-top: 80px;
  padding-bottom: 64px;
  background-color: #e5e7eb;
}

#quote .text,
#quote .author {
  width: 87%;
  color: #1f2937;
}

#quote .text {
  font-size: 36px;
  font-weight: 200;
  text-align: justify;
}

#quote .author {
  font-weight: 500;
  text-align: end;
}

/* Call to Action -------------------------- */
#cta {
  padding: 64px 16px 64px 16px;
}

#cta .container {
  background-color: #3882f6;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 16px 64px;
}

@media(max-width: 500px) {
  #cta .container {
    flex-direction: column;
    gap: 8px;
  }
}

#cta .title {
  font-weight: bold;
}

#cta button {
  border: 1px solid;
  flex-shrink: 0;
}

/* Footer -------------------------- */
#footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

#footer .container {
  justify-content: center;
}
